//COLORS
$color-primary:#2fa520;
$color-primary-light: #44e72e;
$color-primary-dark:#1f8512;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#7b2df8;

$color-blue-light:#23cbd1;

$color-red:#bb2222;
$color-yellow:#f8d121;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;


$color-white:#fff;
$color-black:#000;
$color-blue-grey:rgb(133, 163, 172) ;
$color-blue-grey-light:rgb(71, 117, 131);

//GRID
$grid-width:120rem;
$gutter-vertical:8rem;
$gutter-vertical-small:5rem;
$gutter-horizontal:4rem;


//FONT
$font-size-default:1.6rem;
