.footer{
    background-color: $color-grey-dark-3;
    padding:10rem 0;
    font-size: 1.4rem;

    @include respond(tab-port){
        padding: 8rem 0;
    }

    &__logo-box{
        width: 15rem;
        height: auto;
        margin: 8rem auto;
        margin-top: 0;

        @include respond(tab-port){
            margin-bottom: 4rem;
        }

    }

    &__logo{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        transition: all .3s;

        &:hover{
            box-shadow: 3rem 2rem 3rem rgba($color-red,1);
        }
    }

    &__navigation{
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        // inline-block 不占据整行的宽度
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
    }

    &__list{
        list-style: none;
        color: white;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            background-color: $color-grey-dark-3;
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active{
            color:$color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black,.4);
            transform: rotate(15deg) scale(1.1);
        }
    }

    &__copyright{
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;
        
        color: #0DE;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: justify;

        @include respond(tab-port){
            width: 100%;
            float: none;
        }
    }


}