.bg-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    opacity: .75;

    &__content{
        width: 100%;
        height: 100%;

        // 视频内容比率不变，填充到父元素中。
        object-fit: cover;
    }
}